{% extends 'base.facebook.html.twig' %}

{% block content %}
    <section>
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div align="center">
                    <div class="card text-center">
                        <div class="card-header text-primary">
                            <h4 class="card-title">{{ title|upper }}</h4>

                        </div>
                        <div class="card-block">

                            <p class="card-text text-center">
                                <a href="{{ path('facebook_feed') }}">feed</a>
                                <a href="{{ path('facebook_me') }}"> | me</a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}