{% extends 'base.facebook.html.twig' %}

{% block content %}
    <h1>{{ title|upper }}</h1>

    <div class="jumbotron">
        <h1>Facebook</h1>
        <p>Post</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
{% block login_facebook %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}


