{% extends 'base.facebook.html.twig' %}

{% block content %}
    <section>
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div align="center">
                    <div class="card text-center">
                        <div class="card-header text-primary">
                            <h4 class="card-title">{{ title|upper }}</h4>
                        </div>
                        <div class="card-block">

                            <p class="card-text text-center">
                            <form>
                                <input name="email" placeholder="email" class="form-control"><br />
                                <input name="password" type="password" placeholder="Password" placeholder="password" class="form-control"><br />
                                <input type="submit" value="Log In" class="btn btn-primary">
                                <input onclick="window.location='{{ login_url }}'" type="button" value="Log In with Facebook" class="btn btn-primary">
                            </form>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}

