{% extends 'base.facebook.html.twig' %}

{% block content %}
    <section>
        <div class="row justify-content-center">
            <div class="col-md-10 col-md-offset-1">
                <div align="center">
                    <div class="card text-center">
                        <div class="card-header text-primary">
                            <h4 class="card-title">{{ title|upper }}</h4>

                        </div>
                        <div class="card-block">
                            <p class="card-text text-center">
                                <a href="{{ path('facebook_login') }}">..back</a>
                            </p>
                            <ul class="list-group">
                                {#<li class="list-group-item">a: {{ dump(message) }}</li>#}
                                {% for d in message %}
                                    <li class="class list-group-item">
                                        {% if d.id is defined %}
                                            id: {{ d.id }}
                                        {% endif %}
                                        {% if d.message is defined %}
                                            message: {{ d.message }}
                                        {% endif %}

                                    </li>
                                {% endfor %}
                                {#{% for d in data %}
                                    <li class="class list-group-item">
                                        id: {{ d.id }}<br />
                                        time: {{ d.created_time }}
                                    </li>
                                {% endfor %}#}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}