{% extends 'base.facebook.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="text-center">
            <ul class="list-group">
                <li class="list-group-item active">
                    {{ title|upper }}
                </li>
                <li class="list-group-item">{{ subject }}</li>
                <li class="list-group-item">by Adam, akflorek@gmail.com</li>
                <li class="list-group-item">
                    <a href="{{ path('facebook_login') }}">
                        <button type="button" class="btn btn-primary">Login To Facebook</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}