<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Benchmark, Adam Ksiazek akflorek@gmail.com">
    <meta name="copyright" content=	"Copyright (c) 2018 by ADAM-HD">
    <title>{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('build/css/bootstrap.min.css') }}" rel="stylesheet" />
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">#}


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
{% block login_facebook %}
{% endblock %}
    {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
        <div class="success notification-item alert-dismissible">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <div class="text">
                {% for message in messages %}
                    {{ message|raw|capitalize }} <br/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}


        <div>
            {% block content %}

            {% endblock %}
        </div>


{% block javascripts %}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>#}
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
    <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
